
PORT=3000

MAILER_SERVICE = gmail
MAILER_EMAIL = email@gmail.com
MAILER_SECRET_KEY = 

PROD = alse

MONGO_URL = mongodb://{user}:{pass}@localhost:27017
MONGO_DB_NAME = NOC
MONGO_USER = user
MONGO_PASS = pass

POSTGRES_URL =
POSTGRES_USER = postgres
POSTGRES_DB = NOC
POSTGRES_PASSWORD = pass 